<div class="index">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <h1>Welcome to Our<br/><span>anagram generator</span></h1>
    <form action="/" method="post" class="form">
      <label for="word">Three-letter words ONLY please!</label><br/>
      <input type="text" name="word"><br/>
      <button type="submit" class="btn btn-default">Find Anagrams</button>
    </form>
    <% if @error.present? %>
      <p class='error'>
        <%= "#{@error}" %>
      </p>
    <% end %>
    <a href="/words" class="btn btn-index">Words Index</a>
  </div>
  <div class="col-md-2">
  </div>
</div>
