<div class="index edit-word">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <h1>Update <span><%= "#{@word.text}" %></span> to:</h1>
    <%= erb :"/words/_form" %>
  </div>
  <div class="col-md-2">
  </div>
</div>
