<div class="index new-word">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <h1>Add a word to the database!</h1>
    <%= erb :"/words/_form" %>
  </div>
  <div class="col-md-2">
  </div>
</div>
