<h1>More on the word <span><%= "#{@word.text}" %></span></h1>
<table class="table table-striped">
  <thead>
    <th>Text</th>
    <th>Letters</th>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= "#{@word.text}" %>
      </td>
      <td>
        <%= "#{@word.letters}" %>
      </td>
    </tr>
  </tbody>
</table>
<a href="/words" class="btn btn-default">Back to the index</a>
